{% extends "base.html" %}

{% block title %}
Tasks
{% endblock %}

{% block content %}
<!--Task form-->
<h1 class="text-center m-5">Add task</h1>
<form method="post" action="{% url 'index' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-dark">Add</button>
</form>
<!--Tasks list-->
<h1 class="text-center m-5">Tasks</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for task in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        <input type="checkbox" data-id="{{ task.id }}" {% if task.status %}checked{% endif %}>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}