{% extends "base.html" %}
{% load static %}

{% block title %}
Tasks
{% endblock %}

{% block content %}
<!--Task form-->
<h1 class="text-center m-5" style="user-select: none;">Добавить задачу</h1>
<form method="post" action="{% url 'tasks' %}">
  {{ form.as_p }}
  {% csrf_token %}
  <button type="submit" class="btn btn-dark" id="task-button">Добавить</button>
</form>
<!--Tasks list-->
<h1 class="text-center m-5" style="user-select: none;">Список задач</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Статус</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for task in page_obj %}
    <tr>
      <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck{{ task.id }}" autocomplete="off" data-id="{{ task.id }}" {% if task.status %}checked{% endif %}>
          <label class="btn btn-outline-success" for="btncheck{{ task.id }}"><i class="bi bi-check-lg"></i></label>
        </div>
      </td>
      <td>
        <a href="{% url 'task-update' task.id %}" class="btn btn-warning d-inline"><i class="bi bi-pencil-square"></i></a>
        <form action="{% url 'task-delete' task.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
        </form>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Pagination controls -->
<div class="mt-5">
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true"><</span>
          </a>
        </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ num }}</span>
          </li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'tasks/js/status.js' %}"></script>
{% endblock %}