{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Редактирование профиля" %}{% endblock %}

{% block content %}
<a href="{% url 'profile' user.id %}" style="color: #9B82F7; text-decoration: none">
    <p class="text-end">{% translate "Назад в профиль" %} <i class="bi bi-arrow-right"></i></p>
</a>
<h1 class="text-center m-5">{% translate "Редактирование профиля" %}</h1>
<form action="{% url 'profile-update' user.id %}" method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <button type="submit" class="btn-purple-2" id="submit-button">{% translate "Сохранить" %}</button>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}