{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Задачи" %}
{% endblock %}

{% block content %}
<!--Task form-->
<h1 class="text-center m-5">{% translate "Добавить задачу ✍️" %}</h1>
<form action="{% url 'tasks' %}" method="post">
  {{ form.as_p }}
  {{ form.non_field_errors }}
  {% csrf_token %}
  <button type="submit" class="btn-purple-2" id="submit-button">{% translate "Добавить" %}</button>
</form>
<!--Tasks list-->
<h1 class="text-center m-5">{% translate "Список задач 📃" %}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% blocktranslate %}
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Срок выполнения</th>
      <th scope="col">Статус</th>
      <th scope="col">Действия</th>
      {% endblocktranslate %}
    </tr>
  </thead>
  <tbody>
    {% for task in page_obj %}
    <tr>
      <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        {% if task.completed_by < now %}
            <del>{{ task.completed_by|date:"d/m/Y H:i" }}</del>
        {% else %}
            {{ task.completed_by|date:"d/m/Y H:i" }}
        {% endif %}
    </td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck{{ task.id }}" autocomplete="off" data-id="{{ task.id }}" {% if task.status %}checked{% endif %}>
          <label class="btn btn-outline-success" for="btncheck{{ task.id }}"><i class="bi bi-check-lg"></i></label>
        </div>
      </td>
      <td>
        <a href="{% url 'task-update' task.id %}" class="btn btn-warning"><i class="bi bi-arrow-repeat"></i></a>
        <form action="{% url 'task-delete' task.id %}" method="post" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Pagination controls -->
<div class="mt-5">
  <nav aria-label="Pagination">
    <ul class="pagination-purple">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" style="color: #fff;" class="theme-pagination">
                    <span aria-hidden="true"><</span>
                </a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li><a class="active" style="color: #fff;" class="theme-pagination">{{ num }}</a></li>
            {% else %}
                <li><a href="?page={{ num }}" style="color: #fff;" class="theme-pagination">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" style="color: #fff;" aria-label="Next" class="theme-pagination">
                    <span aria-hidden="true">></span>
                </a>
            </li>
        {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'tasks/js/status.js' %}"></script>
<script src="{% static 'tasks/js/datetime.js' %}"></script>
{% endblock %}