{% extends 'base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %} 
<h1 class="text-center m-5">Авторизация</h1>
{% if form.errors %}
    <p>{{ form.errors.error }}</p>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Войти</button>
</form>
<p class="mt-5">Забыли пароль? <a href="{% url 'password_reset' %}">Восстановить пароль</a></p>
<p class="mt-2">Ещё нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
{% endblock %}

{% block scripts %}
{% endblock %}