{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Восстановление пароля" %}{% endblock %}

{% block content %}
<h1 class="text-center m-5">{% translate "Восстановление пароля" %}</h1>
{% load widget_tweaks %}
{% if validlink %}
    <form method="post" class="mt-4">
        <label for="{{ form.new_password1.id_for_label }}">{% translate "Новый пароль" %}:</label>
        {{ form.new_password1|add_class:"form-control mb-2 mt-2"|attr:"placeholder:Введите новый пароль" }}
        {{ form.new_password1.errors }}
        <label for="{{ form.new_password2.id_for_label }}">{% translate "Подтверждение нового пароля" %}:</label>
        {{ form.new_password2|add_class:"form-control mb-2 mt-2"|attr:"placeholder:Подтвердите новый пароль" }}
        {{ form.new_password2.errors }}
        {{ form.non_field_errors }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success mt-3">Сменить пароль</button>
    </form>
{% else %}
    <p class="text-danger">{% translate "Ссылка на смену пароля недействительна" %}</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}