{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Восстановление пароля" %}{% endblock %}

{% block content %}
<h1 class="text-center m-5">{% translate "Восстановление пароля" %}</h1>
{% load widget_tweaks %}
<form action="{% url 'password_reset' %}" method="post">
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email|add_class:"form-control mb-2 mt-2"|attr:"placeholder:Введите email" }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success mt-3">{% translate "Восстановить пароль" %}</button>
    <br>
    <a href="{% url 'login' %}">
        <button type="button" class="btn btn-secondary mt-3">{% translate "Вернуться назад" %}</button>
    </a>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}