{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate "Регистрация" %}
{% endblock %}

{% block content %}
<h1 class="text-center m-5">{% translate "Регистрация" %}</h1>
<form action="{% url 'register' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success mt-3">{% translate "Зарегистрироваться" %}</button>
</form>
<p class="mt-5">{% translate "Уже есть аккаунт?" %} <a href="{% url 'login' %}">{% translate "Авторизоваться" %}</a></p>
{% endblock %}

{% block scripts %}
{% endblock %}