{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Восстановление пароля" %}{% endblock %}

{% block content %}
<h1 class="text-center m-5">{% translate "Восстановление пароля" %}</h1>
<form action="{% url 'password_reset' %}" method="post">
    {{ form.as_p }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <button type="submit" class="btn-purple-2 mb-3">{% translate "Восстановить пароль" %}</button>
    <br>
    <a href="{% url 'login' %}" style="color: #9B82F7; text-decoration: none">{% translate "Вернуться назад" %}</a>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}