{% extends 'base.html' %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<h1 class="text-center m-5">Восстановление пароля</h1>
{% if validlink %}
    <form action="{% url 'password_reset_confirm' uidb64=uid token=token %}" method="post">
        {{ form.as_p }}
        {{ form.non_field_errors }}
        {% csrf_token %}
        <button type="submit" class="btn-purple-2">Сменить пароль</button>
    </form>
{% else %}
    <p class="text-danger">Ссылка на смену пароля недействительна</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}